@model Techan.ViewModels.BrandVMs.BrandCreateVM

<section class="content-main">
    <form asp-controller="Brand" asp-action="Create" method="post" enctype="multipart/form-data">

        <div class="row">
            <div class="col-6">
                <div class="content-header">
                    <h2 class="content-title">Add New Brand</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">

                            @* Name *@
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label asp-for="Name" class="form-label">Brand Name</label>
                                    <input asp-for="Name" type="text" placeholder="Type here" class="form-control">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>

                            @* Logo *@
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label asp-for="Logo" class="form-label">Image</label>
                                    <input asp-for="Logo" type="file" class="form-control">
                                    <span asp-validation-for="Logo" class="text-danger"></span>
                                </div>
                            </div>

                            @* Create Button *@
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <button type="submit" class="btn btn-md rounded font-sm hover-up">Create</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>
