@model Techan.Models.Brand

<section class="content-main">
    <form asp-controller="Brand" asp-action="Update" method="post">

        <div class="row">
            <div class="col-6">
                <div class="content-header">
                    <h2 class="content-title">Update Brand</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label asp-for="Name" class="form-label">Brand Name</label>
                                    <input asp-for="Name" type="text" placeholder="Type here" class="form-control">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Image</label>
                                    <input type="file" class="form-control">
                                    <span class="text-danger"></span>
                                </div>
                            </div>

                            @* TODO *@
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <button type="submit" class="btn btn-md rounded font-sm hover-up">Publish</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>
