@model Techan.ViewModels.BrandVMs.BrandUpdateVM

<section class="content-main">
    <form asp-action="Update" method="post" enctype="multipart/form-data">

        <div class="row">
            <div class="col-6">
                <div class="content-header">
                    <h2 class="content-title">Update Brand</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">

                            @* Current Logo *@
                            @if (!string.IsNullOrEmpty(Model.LogoPath))
                            {
                                <div class="col-md-9 mb-4">
                                    <p>Current Logo:</p>
                                    <img src="@Model.LogoPath" width="70" />
                                </div>
                            }

                            @* Name *@
                            <div class="col-md-9 mb-4">
                                <label asp-for="Name" class="form-label">Brand Name</label>
                                <input asp-for="Name" type="text" placeholder="Type here" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            @* Logo *@
                            <div class="col-md-9 mb-4">
                                <label asp-for="NewLogo" class="form-label">Image</label>
                                <input asp-for="NewLogo" type="file" class="form-control">
                                <span asp-validation-for="NewLogo" class="text-danger"></span>
                            </div>

                            @* Update Button *@
                            <div class="col-md-9 mb-4">
                                <button type="submit" class="btn btn-md rounded font-sm hover-up">Update</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>
