@using Techan.ViewModels.CategoryVMs
@model CategoryCreateVM

<section class="content-main">

    <div class="content-header">
        <h2 class="content-title card-title">Categories </h2>
    </div>

    <div class="card card-body">
        <div class="col-md-3">
            <form asp-action="Create" method="post">

                @* Name *@
                <div class="mb-4">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" type="text" placeholder="Type here" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                @* Slug *@
                <div class="mb-4">
                    <label asp-for="Slug" class="form-label">Name</label>
                    <input asp-for="Slug" type="text" placeholder="Type here" class="form-control" />
                    <span asp-validation-for="Slug" class="text-danger"></span>
                </div>

                @* Parent Categories *@
                <div class="mb-4">
                    <label class="form-label">Parent</label>
                    <select class="form-select">
                        <option selected disabled>Select Option</option>
                        @foreach (CategoryGetVM item in Model.ParentCategories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>

                @* Description *@
                <div class="mb-4">
                    <label asp-for="Description" class="form-label">Description</label>
                    <input asp-for="Description" type="text" placeholder="Type here" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                @* Create Button *@
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Create category</button>
                </div>
            </form>
        </div>
    </div>

</section>
