@model ProniaTemplate.ViewModels.ServiceVMs.ServiceCreateVM

<form class="row g-3" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Title</label>
        <input asp-for="Title" class="form-control">
        <span asp-validation-for="Title" class="text-danger sm"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for="Description" class="text-danger sm"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Image" class="form-label">Default file input example</label>
        <input asp-for="Image" class="form-control" type="file" id="formFile">
        <span asp-validation-for="Image" class="text-danger sm"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
